@include font-face(Shabnam, Shabnam);
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: $fontfamily;
    font-size: $default--font;
    color: $color-gray-dark-1;
    background-color: $color-gray-light-1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: $font-size-larg;
}